<div class="list" style="display: grid; grid-template-columns: auto auto auto;">
<% for (const item of items) { %>
  <figure <%= metadataAttrs(item) %>>
    <a href="<%- item.path %>">
      <img src="<%- item.image %>" style="width: 100%;">
        <span hidden class="listing-length"><%= item.length %><span>
      </img>
    </a>
  </figure>
<% } %>
</div>
