/*-- scss:defaults --*/

/*-- scss:rules --*/

h1 {
  text-align: center;
  margin-top: 0em;
}

h1 a {
  color: rgb(75, 79, 81);   
}

.columns {
  text-align: center;
}

.columns strong {
    font-size: 1.25em;
}